################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Calendar/DotNet/Console/.vs/Calendar/v15/Server/sqlite3
